<!DOCTYPE html>
<html>
  <head>
    <title>R for Data Science</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<%= render 'shared/header' %>
    <div class="container">
      <main role="main">
    	<%= yield %>
    	</main>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
